body {
    background-color: #003399;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container svg {
    width: 500px;
    height: 500px;
}
.logo {
    font: bold 96px sans-serif;
    fill: #FFCC00;
}
.small-circle {
    stroke: none;
    stroke-width: 1;
    fill: #FFCC00;
}
.form-container {
    display: none;
}
